<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ftis iHub 系統</title>
    <link rel="SHORTCUT ICON" href="~/images/logo.ico" data-logo />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/dou/css")
    <link href="~/Scripts/gis/b3/css/bootstrap.css" rel="stylesheet">
    @*@Styles.Render("~/content/prj/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/dou/js")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>*@

    <script> $.AppConfigOptions = { script: { gispath: "@Url.Content("~/Scripts/gis")" } }; </script>

    <style>

        /*muti level*/
        .nav .dropdown-submenu {
            position: relative;
        }

            .nav .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px 6px;
                border-radius: 0 6px 6px 6px;
            }

        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .nav .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #cccccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .nav .dropdown-submenu:hover > a:after {
            border-left-color: #ffffff;
        }

        .nav .dropdown-submenu.pull-left {
            float: none;
        }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }
    </style>

</head>
<body data-controller="@ViewContext.RouteData.Values["controller"].ToString()">
    <header class="fixed-top">
        <nav class="dou-menu navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @*<h3 class="prj-title"><a href="~/FtisHome"><b>Ftis Protal 系統</b></a></h3>*@
                <h3 class="prj-title"><a href="~/FtisHome"><b>Ftis iHub 系統</b></a></h3>
                @*<h3 class="prj-title"><a href="@Url.Action("Change","Pwd")"><b>改</b></a></h3>*@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (Dou.Help.DouUnobtrusiveSession.SessionId != null)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 justify-content-end">

                            @Html.Partial("DouMenuPartial")@*功能菜單*@

                        </ul>
                    </div>
                    @Html.Partial("DouUserProfilePartial")@*登入人員資料*@
                    @*@Html.Partial("_loginPartial")*@
                }
            </div>
        </nav>
    </header>
    <div class="container-fluid body-content">
        @RenderBody()@*各controoler資料*@

    </div>
    <hr />
    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year - 版權所有,最佳解析度1280x800</p>
    </footer>

    
    @RenderSection("scripts", required: false)
</body>
</html>
